@charset "UTF-8";
 .Fondo{
    background-image: url(https://www.minsalud.gov.co/fotos_carrusel_2018/SAT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 font-family: Arial, Helvetica, sans-serif;
}