@charset "UTF-8";
 .Fondo{
    background-image: url(https://w0.peakpx.com/wallpaper/784/4/HD-wallpaper-material-design-android-geometric-abstraction-line-red-rectangle.jpghttps://www.minsalud.gov.co/fotos_carrusel_2018/SAT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 font-family: Arial, Helvetica, sans-serif;
}